*{
	margin-top:5px;
	
}
.width-250{
	width:100%;
}
.blue-color{
    background-color: #205081;
}
.m-t-5p{
    margin-top: 5% !important;
}
.pagination{
    margin-top: 0px;
}
.m-t-0{
    margin-top: 0px;
}